@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .nav-link {
        @apply text-black text-2xl font-normal lowercase relative before:content-[''] before:absolute before:block before:w-full before:h-[2px] 
        before:bottom-0 before:left-0 before:bg-black
        before:hover:scale-x-100 before:scale-x-0 before:origin-top-left
        before:transition before:ease-in-out before:duration-300
    }
};



@keyframes shrinkingBackground {
    0% {
      transform: scale(150%);
      
    }

    80% {
        transform:scale(95%)
    }

    100% {
        transform: scale(100%);
    }
  }
  
.animate-shrinkingBackground {
    animation: shrinkingBackground 3s ease-in-out; 
}


@keyframes scrollText {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(-100%);
    }  

}
  
.animate-scrollText {
    transform: translateX(100vw);
    animation: scrollText 40s linear infinite;
    animation-delay: 3s;
  }



